<div class="card" style="width: 100%; margin-top: 1rem;">
    <div class="flex-container">
        <h6 class="card-subtitle  text-muted " style="margin-top: 10px; margin-left: 20px;">Category List</h6>
        <button class="btn btn-info"  style="width: 200px;">New Category</button>  
    </div>
    <div style="margin:20px;">
    <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories; let index = index">
            <th scope="row">{{index + 1}}</th>
            <td>{{category.image | isNull}}</td>
            <td>{{category.nombre}}</td>
            <td>{{category.status}}</td>
            <td>
                <button class="btn btn-outline-secondary m-1"><i class="fa fa-edit font-awesome-style"></i></button>
                <button class="btn btn-outline-danger" (click)="deleteCategory(category.id)"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>